* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.linear_gradient {
  background: linear-gradient(rgba(29, 38, 113, 0.9), rgba(195, 55, 100, 0.9));
  color: #fff;
}

.img_linear_gradient_bg {
  background: #C33764; /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(29, 38, 113, 0.6), rgba(195, 55, 100, 0.6)), url("../images/system_images/hero-section.jpg"); /* The least supported option. */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.action_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.action_button {
  border: none;
  border-radius: 32px;
  color: #fafafa;
  font-weight: bold;
  padding: 4px 32px;
}

.setup_error {
  border: 1px solid black;
  border-radius: 16px;
  margin-top: 20%;
  text-align: center;
}
.setup_error h1 {
  font-size: 2em;
  color: red;
}
.setup_error p {
  font-size: 1.5em;
  font-style: italic;
}

@media screen and (min-width: 720px) {
  .setup_error {
    width: 60%;
    margin: 10% auto auto;
  }
}
.hero_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}
.hero_section h1 {
  font-size: 2.8em;
  font-weight: bold;
  text-decoration: underline;
}
.hero_section span.golden_color {
  color: #FCC201;
}
.hero_section p.slogan {
  font-style: italic;
  font-size: 1.3em;
}
.hero_section .app_details {
  text-align: center;
  margin-bottom: 2%;
}
.hero_section .app_logins {
  text-align: center;
}
.hero_section .app_logins a {
  color: white;
  text-decoration: none;
}
.hero_section .app_logins a:hover {
  text-decoration: underline;
  color: gold;
}
.hero_section .app_logins a.action_button {
  border-radius: 32px;
  padding: 8px 32px;
  font-size: 1.2em;
  font-weight: bold;
  background: linear-gradient(rgba(226, 44, 102, 0.9));
  text-decoration: none;
  margin-bottom: 1.5%;
}
.hero_section .app_logins a.action_button:hover {
  text-decoration: none;
  color: #fafafa;
}
.hero_section .homepage_stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 2%;
}
.hero_section .homepage_stats .container {
  background: #FCC201;
  border-radius: 16px;
}
.hero_section .homepage_stats .container h1 {
  font-size: 1.4em;
  text-align: center;
  color: black;
  text-decoration: none;
}
.hero_section .homepage_stats .container p {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin: unset;
}

aside {
  position: relative;
  position: fixed;
  height: 100vh;
  width: 14%;
  display: block;
  color: #fafafa;
  background: linear-gradient(rgba(29, 38, 113, 0.9), rgba(195, 55, 100, 0.9));
}
aside .app_name {
  width: 95%;
  margin: auto;
  color: #fff;
  text-align: center;
  padding: 2px;
  box-shadow: 2px 2px 3px #C33764;
}
aside h3 {
  font-size: 1.2em;
}
aside ul {
  padding: 4px;
}
aside li {
  width: 97%;
  padding: 2px 8px;
  border-bottom: 1px solid #fff;
}
aside a {
  color: #fff;
  display: block;
}
aside a:hover {
  text-decoration: none;
  color: #fafafa;
}
aside .login_controls {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 50px;
  color: #fff;
  font-weight: 500;
}
aside .login_controls li {
  border: none;
}
aside .login_controls .logout_btn {
  border: none;
  background: #e83645;
  color: white;
  font-weight: bold;
  border-radius: 32px;
  padding: 4px 20px;
}

.main_content {
  margin-left: 14%;
  width: 86%;
}

.dashboard h1 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 3%;
}
.dashboard .statistics {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
}
.dashboard .container {
  border-radius: 16px;
  background: #FCC201;
  box-shadow: 4px 6px 10px black;
}
.dashboard .stats {
  border: 10px solid #FCC201;
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.dashboard .stats h1 {
  border-bottom: 2px solid #FCC201;
  padding-bottom: 4px;
}
.dashboard .stats p span {
  font-style: italic;
  font-weight: 600;
}

.services {
  padding-top: 0.5%;
}
.services .navbar {
  background: #000;
  color: #fafafa;
  font-weight: bold;
  border-radius: 32px;
}
.services .navbar .navbar_links {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services .navbar a:hover {
  text-decoration: none;
}
.services .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  padding-top: 0.5%;
}
.services .cards .card {
  height: 350px;
}
.services .cards .card .service_image {
  height: 50%;
}
.services .cards .card .service_image img {
  width: 100%;
  height: 100%;
}
.services .cards .card .service_body {
  padding: 5%;
}
.services .cards .card .service_body p {
  margin: unset;
}
.services .cards .card .service_body .name {
  font-weight: bold;
  margin-bottom: 6px;
  color: green;
  font-size: 1em;
}
.services .cards .card .service_body .description {
  font-style: italic;
  margin-bottom: 4px;
}
.services .cards .card .service_footer {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.billings .table_actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

@media screen and (max-width: 990px) {
  .services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 776px) {
  .services .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 578px) {
  .sidenav {
    visibility: hidden;
  }
  .services .cards {
    grid-template-columns: 1fr;
  }
}
.bookings_print_out {
  width: 80%;
  margin: 3% auto;
}
.bookings_print_out .print_booking {
  width: 90%;
}
.bookings_print_out .print_head h1 {
  border-bottom: 2px solid #000;
  text-align: center;
  padding-bottom: 8px;
  font-size: 1.5em;
}
.bookings_print_out .print_head .print_head_details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 2%;
}
.bookings_print_out .print_body {
  display: flex;
  justify-content: space-between;
}
.bookings_print_out .print_body p span {
  font-style: italic;
  font-weight: 600;
}
.bookings_print_out .print_body .payment_status {
  text-align: center;
  transform: rotate(-8deg);
}
.bookings_print_out .print_body .not_paid {
  border: 4px solid red;
}
.bookings_print_out .print_body .paid {
  border: 4px solid green;
}
.bookings_print_out .print_footer {
  border-top: 1px solid #000;
  text-align: center;
  padding-top: 2%;
}

.password {
  position: relative;
}

span.icon-eye {
  color: green;
  cursor: pointer;
  position: absolute;
  margin-top: -27px;
  right: 27px;
}/*# sourceMappingURL=main.css.map */