*{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance:textfield;
    }
    
    
    .linear_gradient{
        background: linear-gradient(rgba(29, 38, 113, 0.9), rgba(195, 55, 100, 0.9));
        color: #fff;
    }
    .img_linear_gradient_bg{
        background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
        background: -webkit-linear-gradient(rgba(29, 38, 113, 0.9), rgba(195, 55, 100, 0.9)), url("../images/system_images/hero-section.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .setup_error{
        margin-top: 20%;
        padding: 4px 5%;
        h1{
                font-size: 2em;
                color: red;
                text-align: center;
        }
        p{
                font-size: 1.5em;
                font-style: italic;
        }
        ul{
            list-style-position: inside;
        }
        a{
            background: orange;
            text-decoration: none;
            padding: 8px 32px;
            border-radius: 16px;
        }
    }
    
    @media screen and (min-width: 720px){
        .setup_error{
            width: 60%;
            margin: 10% auto auto;
        }
    }

    .Home{
        .home_navbar{
            height: 10vh;
            background: rgba(0, 0, 0, 0.9);
            border-bottom: 1px solid #888888;
            .navbar{
                width: 90%;
                margin: auto;
                .logo{
                    font-size: 1.2em;
                    font-weight: bold;
                    color: #fafafa;
                    text-transform: uppercase;
                }
                .nav_links{                
                    ul{
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        li{
                            margin: 9%;
                            a{
                                text-decoration: none;
                                color: #fafafa;
                                font-weight: bold;
                                font-size: 0.9em;
                                text-transform: uppercase;
                            }
                            a:hover{
                                border-bottom: 2px solid #fafafa;
                            }
                        }
                    }
                }
            }     
        }

            .hero_section{
                width: 100vw;
                height: 85vh;
                overflow: hidden;
                background: #000000;
                background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(238, 58, 115, 0.5)), url("../images/system_images/hero-section.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fafafa;
                .app_details{
                    $font_size: 3em;
                    h1{
                        font-size: $font_size;
                        text-transform: uppercase;
                        border-bottom: 1px solid #fafafa;
                    }
                    h2{
                        font-size: $font_size/2;
                        font-style: italic;
                        text-align: center;
                        color: rgb(223, 217, 217);
                    }
                }
                .app_stats{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    width: 80%;
                    margin-top: 4%;
                    .stat{
                        margin: auto 2%;
                        padding: 6px 0;
                        text-align: center;                        
                        span{
                            font-size: 2.5em;
                        }
                        h2{
                            font-size: 1.2em;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                }
            }
            .footer{
                height: 5vh;
                line-height: 5vh;
                text-align: center;
            }
        }

        .authentication_form{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container{
                border: 1px solid black;
                border-radius: 6px;
                .header{
                    border-radius: 6px;
                    background: rgb(0,0,0);
                    text-align: center;
                    color: white;
                    padding: 5px 10px;
                    margin-top: -3%;
                    h1{
                        font-size: 1.2em;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                .body{
                    width: 97%;
                    margin: 2% auto;
                    .password_field{
                        position: relative;
                    }
                    .icon-eye{
                        position: absolute;
                        cursor: pointer;
                        margin-top: -27px;
                    }
                }
            }
        }        

    .Login{
        .container{
            width: 30%;            
            .body{                              
                .icon-eye{
                    right: 38%;
                }
            }
        }
    }

    .Signup{        
        .container{
            width: 60%;            
            .body{
                .icon-eye{
                    right: 24%;
                }
            }
        }
    }


    $aside_width: 15%;
aside{
    background: black;
    color: #fafafa;
    width: $aside_width;
    height: 100vh;
    position: relative;
    position: fixed;
    display: block;
    padding: 2% 1.5%;
    h1{
        text-transform: uppercase;
        font-size: 1.5em;
        font-style: italic;
        margin-bottom: 1em;
        text-align: center;
        font-weight: bold;
        color: #dddbdb;
    }
    ul{
        list-style: none;
        li{
            margin: 1% auto;
            border-bottom: 1px solid #fafafa;
            a{
                color: #fafafa;
                text-decoration: none;
                display: block;
                margin-left: 4px;
            }
            a:hover{
                text-decoration: none;
                margin-left: 6px;
                color: greenyellow;
            }
        }
    }
    .account_details{
        position: absolute;
        bottom: 3%;
        width: 80%;
        margin: auto;
        text-align: center;
        ul{
            li{
                border-bottom: unset;
                .logout_btn{
                    border: none;
                    border-radius: 32px;
                    padding: 4px 32px;
                    background: red;
                    color: white;
                    font-weight: bold;
                }
                .logout_btn:hover{
                    background: rgb(168, 8, 8);                    
                }
            }
        }
    }
}
main{
    margin-left: $aside_width; 
    width: 100% - $aside_width;   
}
.Dashboard{    
    .container{
        padding: 2%;
        .statistics{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 1em;
            .statistic{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                background: black;
                color: #fafafa;
                box-shadow: 4px 6px 4px rgb(119, 60, 60);
                .details{
                    padding: 2% 1px;
                    h1{
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                    p{
                        margin: unset;
                    }                   
                }
                span{
                    font-size: 2.5em;
                }
            }
        }
    }
}


$nav_height: 8vh;
.marginated{
    margin-top: $nav_height;
}
.Products{
    .container{         
        .nav{  
            .nav_links{                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: fixed;
                width: 82vw;
                height: $nav_height;
                margin: auto;
                padding: 4px 6px;
                overflow: hidden;
                background: black;
                border-radius: 6px;
                color: #fafafa;
                position: fixed;
                p{
                    font-weight: bold;
                }
            }
        }
        .products_list{                       
            h1{
                font-size: 1.2em;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: green;
            }
            .category{
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-gap: 15px;
                margin-bottom: 15px;
                .product_card{
                    border-radius: 8px;
                    box-shadow: 3px 4px 16px black;
                    .image{
                        border-radius: 8px;
                        text-align: center;
                        img{
                            height: 130px;                            
                        }
                    }
                    .card_body{
                        padding: 6px 8px;
                        h1{
                            font-size: 1em;
                            text-align: left;
                            text-transform: unset;
                            color: #000000;
                        }
                    }
                    .footer{
                        border-top: 1px solid #000000;
                        display: flex;
                        justify-content: space-evenly;
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
}

.Sales{
    .container{
        .table_action_buttons{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.Print_receipt{
    .receipt{
        border: 1px solid #1a1919;
        padding: 4% 1%;
    }
    .print_head{
        border-bottom: 2px solid black;
        margin-bottom: 8px;
        h1{
            font-size: 1.2em;
            text-align: center;
            text-transform: uppercase;
        }
        .print_head_details{
            display: flex;
            justify-content: space-between;
            width: 97%;
            margin: auto;
            font-style: italic;
        }
    }
    .print_body{
        table{
            border: 1px solid rgb(63, 61, 61);
            width: 97%;
            margin: auto;
            thead{
                border: 1px solid rgb(63, 61, 61); 
                tr{
                    th{
                        border: 1px solid rgb(63, 61, 61);
                        padding: 2px 6px;
                    }
                }               
            }
            tbody{
                tr{
                    .total{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    td{
                        border: 1px solid black;
                        padding: 2px 6px;
                    }
                }
            }
        }
    }
    .print_footer{
        text-align: center;
        margin-top: 5%;
        P{
            margin: unset;
        }
    }
}

.action_btn{
    background: green;
    border-radius: 32px;
    border: none;
    padding: 4px 32px;
    color: white;
    font-weight: bold;
}
.action_btn:hover{
    color: white;
}
